@{
    var angularSupport = this.GetAngularSupport();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>@ViewBag.Title - RequireJs</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    @if (angularSupport)
    {
        <link href="~/Content/css/angular-csp.css" rel="stylesheet" />
    }
    <link href="~/Content/libs/toastr/toastr.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script src="~/content/libs/require.js"></script>
    <script src="~/Content/scripts/config.js"></script>
    @if (angularSupport)
    {
        <script src="~/Content/scripts/configForAngular.js"></script>
    }
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    @Html.RenderDelayed()
    @Html.Partial("_Debug")
</body>
</html>