@{
    ViewBag.Title = ViewBag.Title;
    var angularSupport = this.GetAngularSupport();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("_Unify/_UnifyMetas")
    @Html.Partial("_Unify/_UnifyStyles")
    @if (angularSupport)
    {
        <link href="~/Content/css/angular-csp.css" rel="stylesheet" />
    }
    <link href="~/Content/libs/toastr/toastr.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script src="~/content/libs/require.js"></script>
    <script src="~/Content/scripts/config.js"></script>
    @Html.Partial("_AngularConfig")
</head>
<body>
    @Html.Partial("_Unify/_UnifyHeader")
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    @Html.RenderDelayed()
    @Html.Partial("_Debug")
    @Html.Partial("_Unify/_UnifyScriptsFix")
</body>
</html>
