@{
    var title = ViewBag.Title ?? "NbCloud";
    var ace = MyRazorHelper.GetAcePath();
    var rootPath = MyRazorHelper.GetPath("~");
    var contentPath = MyRazorHelper.GetPath("~/Content");
    var basicPath = MyRazorHelper.GetBasicPath();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link href="~/Content/libs/ace/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/libs/ace/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- text fonts -->
    <link href="~/Content/libs/ace/assets/css/ace-fonts.css" rel="stylesheet" />
    <!-- ace styles -->
    <link href="~/Content/libs/ace/assets/css/ace.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <script src="~/Content/libs/basic/require.min.js"></script>
    <script>
        (function () {
            "use strict";
            //a global variable to make multi-page app happy
            var app_const = {
                rootPath: '@rootPath',
                contentPath: '@contentPath',
                acePath: '@ace',
                basicPath: '@basicPath'
            };
            console.log('global app_const created!');
            window.app_const = app_const;

            define('app_const', [], function () {
                ////for require modules use
                //console.log("require app_const:");
                //console.log(app_const);
                return app_const;
            });
        })();
    </script>
    <script src="~/Content/scripts/ace_main.js"></script>
    @Html.RenderDelayedRequireJsConfig()
    <script>
        require(['jquery', 'bootstrap', 'ace', 'ace-extra', 'ace-elements'], function ($) {
            try {
                ace.demo.init(true);//true means the call is not from inside a jQuery document ready event
            } catch (e) { }

            /**
            //you can restore state of elements now (ace-extra.js is loaded)
            $('.ace-save-state').each(function() {
                ace.settings.loadState(this);
            });

            //or as soon as you render an element such as sidebar, etc ...
              ace.settings.loadState('sidebar');
            */
        });
    </script>
    @Html.RenderDelayedRequireJs()
</head>
<body class="no-skin">
    @Html.Partial("_Ace/_AceNavBar")
    <div class="main-container" id="main-container">
        @Html.Partial("_Ace/_AceSideBar")

        <div class="main-content">
            <div class="breadcrumbs">
                @Html.Partial("_Ace/_AceBreadcrumbs")
            </div>

            <div class="page-content">
                @Html.Partial("_Ace/_AceSettingBox")
                <div class="row">
                    <div class="col-xs-12">
                        @RenderBody()
                        <div id="test">
                            <h2>DEMO</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Ace/_AceFooter")
    </div>
    @Html.RenderDelayed()
</body>
</html>