@helper sidebar_shortcut()
{
    return;
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>
            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>
            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>
            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
            <span class="btn btn-info"></span>
            <span class="btn btn-warning"></span>
            <span class="btn btn-danger"></span>
        </div>
    </div>
}

@helper sidebar_topMenus()
{
    //todo get from source
    IList<MenuVo> menus = MenuVo.GetDemoMenus();
    if (menus.Count == 0)
    {
        return;
    }
    <ul class="nav nav-list">
        @foreach (var menu in menus)
        {
            var herfCss = menu.Children.Count > 0 ? "dropdown-toggle" : "";
            <li class="">
                <a href="#" class="@herfCss" id="@menu.Pk">
                    <i class="menu-icon fa fa-leaf"></i>
                    <span class="menu-text">
                        @menu.Text
                    </span>
                    @if (menu.Children.Count > 0)
                    {<b class="arrow fa fa-angle-down"></b>}
                </a>
                <b class="arrow"></b>
                <!-- optional arrow for minimized menu & hover submenu -->
                @sidebar_subMenus(menu.Children)
            </li>
        }
    </ul>
}

@helper sidebar_subMenus(IList<MenuVo> menus)
{
    if (menus.Count == 0)
    {
        return;
    }
    <ul class="submenu">
        @foreach (var menu in menus)
        {
            var herfCss = menu.Children.Count > 0 ? "dropdown-toggle" : "";
            <li class="">
                <a href="#" class="@herfCss" id="@menu.Pk">
                    <i class="menu-icon fa fa-leaf"></i>
                    @menu.Text
                    @if (menu.Children.Count > 0)
                    {<b class="arrow fa fa-angle-down"></b>}
                </a>
                <b class="arrow"></b>
                @sidebar_subMenus(menu.Children)
            </li>
        }
    </ul>
}

@helper sidebar_demoMenus()
{
    <ul class="nav nav-list">
        <li class="">
            <a href="javascript:void(0)">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="javascript:void(0)" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> UI Elements </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">
                            TODO
                            <span class="badge badge-info">4</span>
                        </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">
                            TODO
                            <span class="label label-transparent tooltip-error" title="some title for tooltip!">
                                <i class="red ace-icon fa fa-exclamation-triangle"></i>
                            </span>
                        </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-pencil orange"></i>
                        4th level
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-plus purple"></i>
                                Add Product
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
}

@functions
{
    public class MenuVo
    {
        public MenuVo()
        {
            Children = new List<MenuVo>();
            Href = "#";
        }

        public string Pk { get; set; }
        public string ParentPk { get; set; }
        public string Text { get; set; }
        public string Href { get; set; }
        public string Class { get; set; }
        public float SortNum { get; set; }
        public string FromModule { get; set; }
        public string Position { get; set; }
        public bool Hidden { get; set; }

        public List<MenuVo> Children { get; set; }

        public static List<MenuVo> GetDemoMenus()
        {
            //todo read from NavItemServie & filters!
            var splitChar = "_";
            var list = new List<MenuVo>();
            for (int i = 1; i <= 2; i++)
            {
                var menuVo = new MenuVo() { Text = "M" + i.ToString("00") };
                menuVo.Pk = menuVo.Text;
                list.Add(menuVo);
                for (int j = 1; j <= 2; j++)
                {
                    var child = new MenuVo() { Text = menuVo.Text + splitChar + j.ToString("00") };
                    child.Pk = child.Text;
                    menuVo.Children.Add(child);
                    for (int k = 1; k <= 2; k++)
                    {
                        var child2 = new MenuVo() { Text = child.Text + splitChar + k.ToString("00") };
                        child.Children.Add(child2);
                        for (int m = 1; m <= 2; m++)
                        {
                            var child3 = new MenuVo() { Text = child2.Text + splitChar + m.ToString("00") };
                            child3.Pk = child3.Text;
                            child2.Children.Add(child3);
                        }
                    }
                }
            }
            return list;
        }
    }
}
