<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NbFramework Demo</title>
    <link href="~/Content/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/libs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Content/libs/jquery/jquery-2.1.0.js"></script>
    <script src="~/Content/libs/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    @Html.Partial("_NavTop")
<div class="container body-content">
    @RenderBody()
    @Html.Partial("_IoCInfo")
    @Html.Partial("_Footer")
</div>
    @RenderSection("scripts", required: false)
</body>
</html>