@{
    var title = ViewBag.Title ?? "NbCloud";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@title</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Web Fonts -->
    <link rel="stylesheet" href="~/Content/libs/unify/assets/fonts/open-sans/stylesheet.css">

    <!-- bootstrap & fontawesome -->
    <link href="~/Content/libs/unify/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/libs/unify/assets/css/style.css" rel="stylesheet" />

    <!-- CSS Implementing Plugins -->
    <link href="~/Content/libs/unify/assets/plugins/animate.css" rel="stylesheet" />
    <link href="~/Content/libs/unify/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CSS Theme -->
    <link href="~/Content/libs/unify/assets/css/theme-colors/default.css" rel="stylesheet" />
    <link href="~/Content/libs/unify/assets/css/theme-skins/dark.css" rel="stylesheet" />
    <!-- CSS Customization -->
    <link href="~/Content/libs/unify/assets/css/custom.css" rel="stylesheet" />
    <!-- CSS Page Style -->
    @RenderSection("styles", false)
    <script src="~/Content/libs/basic/require.min.js"></script>
    @Html.Partial("_AppConst")
    <script src="~/Content/scripts/config_unify.js"></script>
    @Html.RenderDelayedRequireJsConfig()
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
    @Html.RenderDelayed()
</body>
</html>